.heading {
  background-color: #e4f9f5;
  border: 1.25rem;
  border-color: black;
  position: relative;
  padding-top: 6.25rem;
}
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
p {
  line-height: 2;
}
h1 {
  margin-top: 0;
  font-size: 5.625rem;

  font-family: "Sacramento", cursive;
  font-weight: 1000;
  font-style: normal;
  margin-top: 5rem;
  margin-bottom: 1.875rem;
  color: #66bfbf;
}
.web {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 18.75rem;
}
.sub-heading {
  font-size: 2.2rem;
}
.top-cloud {
  position: absolute;
  right: 18.75rem;
  top: 3.125rem;
}
.text {
  font-size: 2rem;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 0.625rem;
}
.skill-row {
  width: 50%;
  text-align: left;
  margin: 6.25rem auto 9.375rem auto;
  line-height: 2;
}
.c {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 1.875rem;
}
.js {
  height: 9.375rem;
  width: 9.375rem;
  float: right;
  margin-right: 1.875rem;
}
.humar-photo {
  height: 11.25rem;
  width: 11.25rem;
  margin-top: 6.25rem;
}
hr {
  border-style: none;
  height: 0px;
  width: 4%;
  border-style: dotted none none;
  border-color: #eaf6f6;
  border-width: 0.375rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
.contact-message {
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  margin-top: 6.25rem;
  margin-bottom: 0;
  padding: 3.125rem 0 1.25rem;
}
a {
  color: #11999e;
  margin: 0.625rem 1.25rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0.625rem;
}
.html {
  float: left;
  margin-right: 1.875rem;
  margin-top: 0.625rem;
}
.css {
  float: right;
  margin-left: 1.875rem;
}
.python {
  float: left;
  margin-right: 1.875rem;
  margin-top: 0.9375rem;
}
.last-para {
  width: 40%;
  margin: 2.5rem auto 5rem;
}
.guess {
  height: 18.75rem;
  width: 31.25rem;
  margin: 31.25rem 6.25rem 4.375rem;
}
.guess-title {
  width: 80%;
  text-align: left;
  margin: 6.25rem auto 1.25rem;
}
.tic {
  height: 12.5rem;
  width: 31.25rem;
  margin: 3.125rem 6.25rem 4.375rem;
}
.tic-title {
  width: 80%;
  text-align: left;
  margin: 3.125rem auto 1.25rem;
}
.dice {
  height: 18.75rem;
  width: 31.25rem;
  margin: 3.125rem 6.25rem 4.375rem;
}
.dice-title {
  width: 80%;
  text-align: left;
  margin: 3.125rem auto 1.25rem;
}
.projects-para {
  width: 80%;
  margin: 3.75rem auto 2.5rem;
}
.repo-links {
  margin: 0;
}
.repo-links:hover {
  color: #cf04cf;
}
